/*header*/
header{
	height:67px;
	width: 100%;
	background: #282828;
	position: fixed;
	z-index: 999;
}
header .head{
	width: 1210px;
	height: 100%;
	margin: 0 auto;
	cursor: pointer;
}
header .head .logo{
	width: 217px;
	height: 67px;
	float: left;
	background: url(../images/logo.jpg) no-repeat;
}
header .head .logo:after{
	content: "努比亚";
	visibility: hidden;
}
header .head .nav{
	width: 795px;
	height: 67px;
	float: left;
}
header .head .nav ul li{
	float: left;
	height: 67px;
	padding: 0 26px;
	line-height: 67px;
	font-size: 14px;
}
header .head .nav ul li:hover{background: #ee4834;}
header .head .nav ul li a{color: white;display: block;height: 67px;}
header .head .nav ul li:hover a{color: #ccc;}
header .head .shopcar{
	width: 195px;
	height: 67px;
	float: left;
	background: url(../images/shopcar.jpg) no-repeat right;
}
header .head .shopcar img{
	margin-top: 30px;
	margin-left: 35px;
}
header .head .shopcar .car{
	display: block;
	float: right;
	width: 130px;
	height: 67px;
	/*background: black;*/
}
